In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
dataset = pd.read_csv('LB_Forecast_Cash_5.csv')

In [3]:
dataset.head()

   Year  Week  Recievables        Cash  Label
0  2022     1    216637.49  1347046.53   True
1  2022     2    220001.93  1348547.51   True
2  2022     3    186053.69  1362682.96   True
3  2022     4    291930.41  1297296.15  False
4  2022     5    298268.57  1328902.74  False

In [4]:
dataset.describe()

         Year       Week    Recievables          Cash
count    51.0  51.000000      51.000000  5.100000e+01
mean   2022.0  26.000000  347933.776275  1.310831e+06
std       0.0  14.866069  114604.605811  1.180655e+05
min    2022.0   1.000000  164934.770000  1.014786e+06
25%    2022.0  13.500000  282390.470000  1.236983e+06
50%    2022.0  26.000000  327493.810000  1.311555e+06
75%    2022.0  38.500000  406374.950000  1.391150e+06
max    2022.0  51.000000  674885.530000  1.547313e+06

In [5]:
X = dataset.drop('Cash', axis=1)
y = dataset['Cash']

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [8]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor()
regressor.fit(X_train, y_train)

DecisionTreeRegressor()

In [9]:
y_pred = regressor.predict(X_test)

In [10]:
df=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})
df

        Actual   Predicted
29  1236691.88  1014785.56
11  1468436.95  1430839.10
10  1311554.52  1305221.38
22  1487014.83  1547313.41
2   1362682.96  1348547.51
28  1261909.63  1304364.28
45  1342166.25  1206666.30
32  1161283.97  1133650.37
26  1237273.42  1297296.15
4   1328902.74  1297296.15
33  1128302.52  1123132.28

In [11]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 58423.55454545451
Mean Squared Error: 7280594288.624262
Root Mean Squared Error: 85326.39854478954